.followerList {
    display: flex;
    justify-content: center;
}

/* .followUnfollowBtn {
    cursor: pointer;
    border: 1px solid black;
    width: 30%;
} */

.ui-card {
    display: flex;
    flex-direction: column;
}

.dataRight {
    text-align: end;
}

.homeBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .button {
    margin-top: 5%;
} */

.ui.button {
    margin: 5%;
}