

.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeCard{
  width: 60vw;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  margin: 5px;
  display: flex;
  justify-content: center;
}

.homeCard:hover{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.582);
  cursor: default;
}

 @media only screen and (max-width: 450px){
  .homeCard{
      width: 90%;
  }
    }