.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.development {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    width: 85vw;
    height: 20vh;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 30px;    
}

.weight {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 85vw;
    height: 20vh;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    margin-bottom: 30px;

}

.nutrition {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 85vw;
    height: 20vh;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    margin-bottom: 30px;
}

.food-card-placeholder {
    height: 20vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.food-calories-placeholder {
    display: flex;
    margin: 15px 10px 10px 10px;
}

.food-bar-placeholder {
    border: 1px solid black;
    width: 80vw;
    height: 2vh;
    border-radius: 10px;
    background-color: green;
}
