.outer-div,
.inner-div {
  height: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.outer-div {
  perspective: 900px;
  perspective-origin: 50% calc(50% - 18em);
}

.inner-div {
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 400;
  color: #071011;
  font-size: 1rem;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
  transform-style: preserve-3d;
}

.matesHeader{
    color: #7e8ba3;
    font-size: 2rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
    text-align: center;
}

.front {
  height: 100%;
  background: #fff;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.front__bkg-photo {
  position: relative;
  height: 150px;
  width: 300px;
  background: url("https://cdn.pixabay.com/photo/2017/08/24/21/41/tartan-track-2678544_960_720.jpg")
    no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.front__face-photo {
  position: relative;
  top: -60px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #fff;
  background: url("../../media/selfie.png")
    no-repeat;
  background-size: contain;
  overflow: hidden;
}

.front__text {
  position: relative;
  top: -55px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 18px;
  backface-visibility: hidden;
}

  .front__text-para {
    position: relative;
    top: -5px;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }

  .front-icons {
    position: relative;
    top: 0;
    font-size: 14px;
    margin-right: 6px;
    color: gray;
  }

.cardBottom{
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: flex-end;

}

.matesBtn {
    background-image: linear-gradient(160deg, #096479 0%, #76D9F0 100%);
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    border-radius: 10px;
    padding: 2px 5px;
    opacity: .5;
    align-self: center;
  }

  .matesBtn:hover {
      opacity: 1;
  }

  .cardBottom a {
      color: darkslategray;
      font-family: "Montserrat", sans-serif;
      padding-bottom: 10px;
    }
  .cardBottom a:hover {
      cursor: pointer;
      color: #096479;
    }