.profile {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
}

.profileContainer {
    background-color: white;
    width: 30vw;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 10px black;
    padding: 5px;
}
