.dev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18vh;
    width: 85vw;
}

.dev-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dev-input {
    resize: none;
}

.dev-btn {
    margin-top: 10px;
    border: solid black 1px;
    padding: 5px;
    border-radius: 10px;
}

.dev-btn:hover {
    background-color: aquamarine;
}