.dev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18vh;
    width: 85vw;
}

.goalHeader{
        color: #7e8ba3;
    font-size: 2rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
    text-align: center;
}