/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: slategray; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7e8ba3; 
  }
