.bottomToTop-appear {
  animation: bottomToTop ease 2s;
  -webkit-animation: bottomToTop ease 2s;
  -moz-animation: bottomToTop ease 2s;
  -o-animation: bottomToTop ease 2s;
  -ms-animation: bottomToTop ease 2s;
}
@keyframes bottomToTop {
  0% {
    margin-top: 200%;
  }
  100% {
    margin-top: 0%;
  }
}

@-moz-keyframes bottomToTop {
  0% {
    margin-top: 200%;
  }
  100% {
    margin-top: 0%;
  }
}

@-webkit-keyframes bottomToTop {
  0% {
    margin-top: 200%;
  }
  100% {
    margin-top: 0%;
  }
}

@-o-keyframes bottomToTop {
  0% {
    margin-top: 200%;
  }
  100% {
    margin-top: 0%;
  }
}

@-ms-keyframes bottomToTop {
  0% {
    margin-top: 200%;
  }
  100% {
    margin-top: 0%;
  }
}
.topToBottom-appear {
  animation: topToBottom ease 2s;
  -webkit-animation: topToBottom ease 2s;
  -moz-animation: topToBottom ease 2s;
  -o-animation: topToBottom ease 2s;
  -ms-animation: topToBottom ease 2s;
}
@keyframes topToBottom {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -100%;
  }
}

@-moz-keyframes topToBottom {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes topToBottom {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -100%;
  }
}

@-o-keyframes topToBottom {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -100%;
  }
}

@-ms-keyframes topToBottom {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -100%;
  }
}

.welcomeMain {
  background-color: #354152;
  height: 100vh;
}

.welcomeBorder {
  width: 100vw;
  text-align: center;
  background-color: #354152;
}

.container {
  width: 100vw;
  height: 78vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #354152;
}
.shadows {
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px rgba(0, 0, 0, 0.479);
  color: #7e8ba3;
  letter-spacing: -0.05em;
  font-family: "Anton", Arial, sans-serif !important;
  user-select: none;
  text-transform: uppercase;
  font-size: 150px;
  transition: all 0.25s ease-out;
}
.shadows:hover {
  text-shadow: -16px 6px 15px black;
}


.welcomeBtn {
  background-image: linear-gradient(160deg, #096479 0%, #76D9F0 100%);
  color: #fff;
  margin-bottom: 6rem;
  width: 25%;
  border-radius: 10px;
  padding: 2px 5px;
  opacity: .5;
}

.welcomeBtn:hover {
    opacity: 1;
}

.bounceArrow {
  background-color: #7e8ba3;
}


@media screen and (max-width: 950px) {
  .shadows {
    font-size: 120px;
  }
}

@media screen and (max-width: 550px) {
  .shadows {
    font-size: 40px;
    color: rgba(128, 128, 128, 0.37);
  }
}
