.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}

.quote-header {
    color: #7e8ba3;
    font-size: 2rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
    text-align: center;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 5px;
    font-style: italic;
    font-size: 1rem;
}