.search {
    border: 1px solid black;
    margin-bottom: 5%;
    width: 80vw;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.searchMate {
    border: 1px solid rgb(201, 201, 201);
    margin: 5%;
    width: 80%;
    border-radius: 2%;
    text-align: center;
}

h1 {
    text-align: center;
}
