.trackerContainer{
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

.workoutContainer{
    width: 60vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.cardioCard,
.strengthCard,
.stretchCard {
    width: 100%;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.cardioCard:hover,
.strengthCard:hover,
.stretchCard:hover {
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.582);
    cursor: default;
}


.workoutImg{
    height: 150px;
    border-radius: 10px 0px 0px 10px;
    opacity: .75;
}

.cardLeft{
    /* background-color: blue; */
    flex: 1;
}

.cardRight{
    flex: 3;
    padding-left: 20px;
}

.workoutTitle{
    font-size: 2rem;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.workoutBtn{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.logBg {
    background-color: white;
    color:#7e8ba3;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 4rem 2rem;
}

.logTitle{
    color: #7e8ba3;
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

.logWorkoutBtn {
    background-image: linear-gradient(160deg, #096479 0%, #76D9F0 100%);
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 10px;
    padding: 2px 5px;
    opacity: .5;
  }

  .logWorkoutBtn:hover {
      opacity: 1;
  }